/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.hfeed{
	margin: 0 auto;
	max-width: 1080px;
	padding: 2.5%;
	width: 100%
}
/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

//index.php //front page
body{
	background-color:$background;
	padding:.5rem;
	font-family:$exo_font;
}
.content{
	margin: 0 auto;
	max-width: 1080px;
	padding: 0.5rem;
	width: 100%;
}

.site-main{
	color:$text;
}


.site-branding{
	a img{
		padding-top:3rem;
	}
}
@media (min-width: 620px){
	.red-link{
		margin:0;
		padding-left:1rem;
	}
	.entry-content, .type-post{
		font-size:1.6rem;
	}
	.site-branding{
		a img{
			width:500px;
		}
	}

	// about page//
	.page{
		.entry-content{
			font-size:1rem;
		}
	}

}

@media (min-width: 1080px){
	.site-navigation{
		padding-top:0.2rem;
	}
	.site-branding{
		margin: 4rem 10rem 1rem;
		a img{
			width:700px;
			padding-top:0;
		}
	}

	.site-content{
		margin: 4rem 10rem 1rem;
	}
	.site-content:before{
		position: absolute;
		left:10%;
		top:40%;
		content:"\f10d";
		font-family:'fontawesome';
		color:$green;
		font-size:8rem;
	}
	.site-content:after{
		position: absolute;
		right:10%;
		top:40%;
		content:"\f10e";
		font-family:'fontawesome';
		color:$green;
		font-size:8rem;
	}
	.site-footer{
		display:flex;
		justify-content: flex-end;
	}
	.entry-content{
		font-size:2rem;
	}
	#new-quote-button{
		margin-left:35%;
	}
}


// archive tag , category//
.archive{	
	.post{
		border-bottom:1px dotted white;
		padding-bottom:2rem;
	}
}	
.category-display,.tag-display{
	font-size:2rem;
	border-bottom:1px dotted white;
	padding-bottom:2rem;
}