/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.hfeed{
	margin: 0 auto;
	max-width: 1080px;
	padding: 2.5%;
	width: 100%
}
/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

//index.php //front page
body{
	background-color:$background;
	padding:.5rem;
}
.content{
	margin: 0 auto;
	max-width: 1080px;
	padding: 0.5rem;
	width: 100%;
}

.site-main{
	color:$text;
}


.site-branding{
	a img{
		padding-top:3rem;
	}
}