/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color:$background;
	border: 2px solid #0c0;
	border-radius: 3px;
	color:$green;
	// padding: .75rem 2.25rem;
	padding:.5rem 2.3rem;
	&:hover {
	
	}

	&:active,
	&:focus {
		border-color: #aaa #bbb #bbb;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	background-color:$background;
	color: #fff;
	border: 2px solid $green;
	border-radius: 3px;

	&:focus {
		color:#fff;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
	width:240px;
}

textarea {
	padding-left: 3px;
	width: 100%;
	margin-top:1rem;
}

//submit page//
.quote-source-url-box{
	padding-bottom:2rem;
	margin-bottom:1rem;
}
.quote-author-box{
	display: flex;
	flex-direction: column;
}
.quote-submission-wrapper{
	div:nth-child(-n+4){
		padding-bottom:1rem;
		input:nth-child(-n+4){
			margin-top:1rem;
		}
	}
}
.search-submit{
	background-color: none;
	border: none;
	border-radius: none;
	color: #0c0;
	padding: none;
	padding: 0;
	padding-left: 1rem;
}

.search-box{
	border:none;
	padding:0;
	margin:0;
}
@media screen and (min-width: 620px){

.quote-source-box{
	display:flex;
	flex-direction: column;
}

.quote-source-url-box{
	display:flex;
	flex-direction: column;
}

.quote-submission-wrapper{
	input:nth-child(-n+4){
		width:60%;
	}
 }


}
