.search-results{

  .page-title{
    font-weight:400;
    border-bottom:1px dotted #fff;
    padding-bottom:2rem;
  }
  
  
}

@media screen and (min-width: 620px){
  .entry-title{
    font-size:2rem;
  }
}